<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="300">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}">
			<link href="{{ asset('assets/vendor/fonts/circular-std/style.css') }}" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('assets/libs/css/style.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/vendor/fonts/fontawesome/css/fontawesome-all.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/vendor/charts/chartist-bundle/chartist.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/vendor/charts/morris-bundle/morris.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/vendor/charts/c3charts/c3.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/vendor/fonts/flag-icon-css/flag-icon.min.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/libs/css/pagination.css') }}">
			<link rel="stylesheet" href="{{ asset('css/sweetalert.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/vendor/multi-select/css/multi-select.css') }}">
		{% endblock %}
		<title>Reality Bahrain |
		</title>
	</head>

	<body>
		<!-- ============================================================== -->
		<!-- main wrapper -->
		<!-- ============================================================== -->
			<div class="dashboard-main-wrapper"> <!-- ============================================================== -->
			<!-- navbar -->
			<!-- ============================================================== -->
				<div class="dashboard-header"> <nav class="navbar navbar-expand-lg bg-white fixed-top">
					<a class="navbar-brand" href="#">Reality Bahrain</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse " id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto navbar-right-top">
							<li class="nav-item dropdown notification">
								<a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-fw fa-bell"></i>
									<span class="indicator"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-right notification-dropdown">
									<li>
										<div class="notification-title">
											Notification</div>
										<div class="notification-list">
											<div class="list-group">
												<a href="#" class="list-group-item list-group-item-action active">
													<div class="notification-info">
														<div class="notification-list-user-img"><img src="assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
														<div class="notification-list-user-block">
															<span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
															<div class="notification-date">2 min ago</div>
														</div>
													</div>
												</a>
												<a href="#" class="list-group-item list-group-item-action">
													<div class="notification-info">
														<div class="notification-list-user-img"><img src="assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
														<div class="notification-list-user-block">
															<span class="notification-list-user-name">John Abraham
															</span>is now following you
															<div class="notification-date">2 days ago</div>
														</div>
													</div>
												</a>
												<a href="#" class="list-group-item list-group-item-action">
													<div class="notification-info">
														<div class="notification-list-user-img"><img src="assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
														<div class="notification-list-user-block">
															<span class="notification-list-user-name">Monaan Pechi</span>
															is watching your main repository
															<div class="notification-date">2 min ago</div>
														</div>
													</div>
												</a>
												<a href="#" class="list-group-item list-group-item-action">
													<div class="notification-info">
														<div class="notification-list-user-img"><img src="assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
														<div class="notification-list-user-block">
															<span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
															<div class="notification-date">2 min ago</div>
														</div>
													</div>
												</a>
											</div>
										</div>
									</li>
									<li>
										<div class="list-footer">
											<a href="#">View all notifications</a>
										</div>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown connection">
								<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-fw fa-th"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-right connection-dropdown">
									<li class="connection-list">
										<div class="row">
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
												<a href="/application/1/profile" class="connection-item"><img src="https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png" alt="">
													<span>Profile</span>
												</a>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
												<a href="#" class="connection-item"><img src="https://i.pinimg.com/originals/b8/cd/6d/b8cd6d45a84bd74c9d480a3b25309261.png" alt="">
													<span>Settings</span>
												</a>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
												<a href="#" class="connection-item"><img src="assets/images/dropbox.png" alt="">
													<span>Account</span>
												</a>
											</div>
										</div>

									</li>
									<li>
										<a href="{{ server_path }}/logout">
											<div class="conntection-footer" style="background-color: red;">
												Logout
											</div>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<!-- ============================================================== -->
			<!-- end navbar -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- left sidebar -->
			<!-- ============================================================== -->
				<div class="nav-left-sidebar sidebar-dark"> <div class="menu-list">
					<nav class="navbar navbar-expand-lg navbar-light">
						<a class="d-xl-none d-lg-none" href="#">Dashboard</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav flex-column">
								<li class="nav-divider">
									Menu
								</li>
								{% for key,menu in app.session.get('menulist') %}
									<li class="nav-item">
										<a class="nav-link {% if menu is iterable %}collapsed{% endif %}" {% if menu is iterable %} href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1" {% else %} href="{{ server_path }}{{menu}}" {% endif %}>
											<i class="fa fa-fw fa-rocket"></i>
											{{ key }}</a>
										{% if menu is iterable %}

											<div id="submenu-1" class="submenu collapse" style="">
												<ul class="nav flex-column">
													{% for listk, list in menu %}
														<li class="nav-item">
															<a class="nav-link" href="{{ server_path }}{{list}}">{{listk}}</a>
														{% endfor %}
													</li>
												</ul>
											</div>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- end left sidebar -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- wrapper  -->
			<!-- ============================================================== -->
				<div class="dashboard-wrapper"> <div class="dashboard-ecommerce">
					<div class="container-fluid dashboard-content "> {% block body %}{% endblock %}
						<!-- ============================================================== -->
						<!-- end pageheader  -->
						<!-- ============================================================== -->

					</div>
					</div>
					<!-- ============================================================== -->
					<!-- footer -->
					<!-- ============================================================== -->
						<div class="footer" style="position: fixed; bottom: 0;"> <div class="container-fluid">
							<div class="row">
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
									Copyright © 2018 Concept. All rights reserved. Dashboard by
									<a href="https://colorlib.com/wp/">Colorlib</a>.
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
									<div class="text-md-right footer-links d-none d-sm-block">
										<a href="javascript: void(0);">About</a>
										<a href="javascript: void(0);">Support</a>
										<a href="javascript: void(0);">Contact Us</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ============================================================== -->
				<!-- end footer -->
					<!-- ============================================================== -->
				</div>
				<!-- ============================================================== -->
			<!-- end wrapper  -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- end main wrapper  -->
			<!-- ============================================================== -->
			<!-- Optional JavaScript -->
			<!-- jquery 3.3.1 -->
				{% block javascripts %}<script src="{{ asset('assets/vendor/jquery/jquery-3.3.1.min.js') }}"> </script>
				<!-- bootstap bundle js -->
				<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>
				<!-- slimscroll js -->
				<script src="{{ asset('assets/vendor/slimscroll/jquery.slimscroll.js') }}"></script>
				<!-- main js -->
				<script src="{{ asset('assets/libs/js/main-js.js') }}"></script>
				<!-- chart chartist js -->
				<script src="{{ asset('assets/vendor/charts/chartist-bundle/chartist.min.js') }}"></script>
				<!-- sparkline js -->
				<script src="{{ asset('assets/vendor/charts/sparkline/jquery.sparkline.js') }}"></script>
				<!-- morris js -->
				<script src="{{ asset('assets/vendor/charts/morris-bundle/raphael.min.js') }}"></script>
				<script src="{{ asset('assets/vendor/charts/morris-bundle/morris.js') }}"></script>
				<!-- chart c3 js -->
				<script src="{{ asset('assets/vendor/charts/c3charts/c3.min.js') }}"></script>
				<script src="{{ asset('assets/vendor/charts/c3charts/d3-5.4.0.min.js') }}"></script>
				<script src="{{ asset('assets/vendor/charts/c3charts/C3chartjs.js') }}"></script>
				<script src="{{ asset('assets/libs/js/dashboard-ecommerce.js') }}"></script>

				<script src="{{ asset('assets/vendor/multi-select/js/jquery.multi-select.js') }}"></script>

				<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
				<script src="{{ asset('assets/vendor/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
				<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
				<script src="{{ asset('assets/vendor/datatables/js/buttons.bootstrap4.min.js') }}"></script>
				<script src="{{ asset('assets/vendor/datatables/js/data-table.js') }}"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
				<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
				<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
				<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
				<script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
				<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
				<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
				<script src="{{ asset('js/sweetalert.min.js') }}"></script>
				<script src="{{ asset('assets/vendor/parsley/parsley.js') }}"></script>
				<script src="{{ asset('js/script.js') }}"></script>
			{% endblock %}
		</body>
	</html>
</body></html>
